USE [master]
GO
/****** Objeto: Database [StockNova] Fecha de script: 2/10/2026 16:20:52 ******/
CREATE DATABASE [StockNova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockNova', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StockNova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockNova_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StockNova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockNova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockNova]
GO
/****** Objeto: Table [dbo].[ConfiguSistema] Fecha de script: 2/10/2026 16:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguSistema](
	[IdConfig] [int] IDENTITY(1,1) NOT NULL,
	[NombreSistema] [varchar](100) NOT NULL,
	[Moneda] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Movimientos] Fecha de script: 2/10/2026 16:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[TipoMovimiento] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime] NULL,
	[IdUsuario] [int] NOT NULL,
	[Observacion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 2/10/2026 16:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[UnidadMedida] [varchar](30) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[StockActual] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 2/10/2026 16:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
	[Rol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ConfiguSistema] ON 

INSERT [dbo].[ConfiguSistema] ([IdConfig], [NombreSistema], [Moneda]) VALUES (1, N'StockNova', N'C$')
SET IDENTITY_INSERT [dbo].[ConfiguSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Codigo], [Nombre], [UnidadMedida], [Categoria], [Precio], [StockMinimo], [StockActual]) VALUES (1, N'MP0002', N'HILO COLOR BLANCO', N'Unidades', N'Materia Prima', CAST(15.00 AS Decimal(10, 2)), 10, 0)
INSERT [dbo].[Productos] ([IdProducto], [Codigo], [Nombre], [UnidadMedida], [Categoria], [Precio], [StockMinimo], [StockActual]) VALUES (2, N'PT0001', N'POLO CUELLO CAMISA', N'Unidades', N'Producto Terminado', CAST(250.00 AS Decimal(10, 2)), 10, 10)
INSERT [dbo].[Productos] ([IdProducto], [Codigo], [Nombre], [UnidadMedida], [Categoria], [Precio], [StockMinimo], [StockActual]) VALUES (3, N'MP0001', N'TELA DE ALGODON', N'Kilogramos', N'Materia Prima', CAST(120.00 AS Decimal(10, 2)), 20, 30)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [Clave], [Rol]) VALUES (1, N'alejandro', N'1604', N'Administrador')
INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [Clave], [Rol]) VALUES (2, N'fernando', N'2008', N'Vendedor')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__06370DACBD96AD83] Fecha de script: 2/10/2026 16:20:52 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__E3237CF712B1D509] Fecha de script: 2/10/2026 16:20:52 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfiguSistema] ADD  DEFAULT ('C$') FOR [Moneda]
GO
ALTER TABLE [dbo].[Movimientos] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0.00)) FOR [Precio]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_Productos]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_Usuarios]
GO
USE [master]
GO
